.section1 {
    background-image: url('https://res.cloudinary.com/dnweqtuch/image/upload/v1724450505/ContentImagesJhass/xgmqmvtoiljxfsck7ofb.jpg');
    
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 100vh;
     
   

}